<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#">WEB322 - Usama Sidat</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/blog">Blog</a></li>
            <li class="active"><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/posts">Posts</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/posts/add">Add Post</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="container" style="padding-top: 60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
            <h2>About</h2>
            <img src="../public/images/me.jpg" width="300px"  alt="my image">
            <p style="color:crimson"><b>
              I am 19 years old. Currently, I am pursuing an Advanced Diploma in
              Computer Programming and Analysis at Seneca College. I have a
              strong passion for Web Development.
            </p></b>
            <p><i>
              Cras dui dui, suscipit ac massa et, fermentum lacinia lacus.
              Aliquam erat volutpat. Phasellus non tellus quis quam eleifend
              laoreet. Etiam luctus augue nec lectus consequat euismod. Nulla
              tristique augue a urna eleifend rutrum eget quis turpis. Curabitur
              consectetur aliquet lobortis. Donec id felis leo. Etiam
              ullamcorper augue justo, vitae tincidunt ipsum gravida vitae.
              Donec orci justo, vehicula rutrum mattis et, ornare ullamcorper
              mi. Mauris eget diam est.
            </p></i>
            <p><i>
              Ut non diam varius ante dictum blandit nec in tortor. Pellentesque
              sodales vel elit eget cursus. In condimentum consequat mauris vel
              bibendum. Curabitur feugiat nibh in sodales condimentum. In sit
              amet hendrerit massa, sed porta ipsum. Praesent consectetur
              consectetur sem, at aliquam ante posuere ac. Sed sit amet quam
              egestas eros lobortis varius. Aenean eleifend nec turpis eget
              faucibus. Duis pretium consequat velit, quis eleifend leo laoreet
              non. Quisque sit amet lobortis urna. Vestibulum ante ipsum primis
              in faucibus orci luctus et ultrices posuere cubilia Curae In nisi
              nibh, convallis eu metus et, adipiscing laoreet quam.
            </p></i>
            <p><i>
              Duis egestas cursus diam, ut volutpat tortor mattis tempor. In et
              imperdiet turpis. Proin aliquet, lectus ultrices fringilla
              lobortis, purus risus imperdiet neque, eget consectetur ligula
              quam non arcu. Curabitur vitae posuere elit, in faucibus felis.
              Suspendisse vitae nisl eget ligula condimentum bibendum in ut
              nulla. Etiam non lacinia turpis. Aliquam placerat est vestibulum
              turpis pretium elementum. Integer pharetra gravida massa, at
              aliquam turpis pulvinar sit amet. Nam a lectus sed mauris suscipit
              commodo a non ipsum. Aenean dapibus porttitor massa vitae auctor.
              Donec quis ultricies orci. Etiam semper, lectus vitae tristique
              ullamcorper, risus lectus semper nulla, quis accumsan sem leo at
              neque.
            </p></i>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Under Construction! <br> Stay Tuned!</p>
        </aside>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
