<body>
  <div class="container" style="padding-top: 60px">
    <div class="row">
      <section class="main col-md-9">
        <article>
          <h2>About</h2>
          <img
            src="https://yt3.ggpht.com/ytc/AKedOLTf43L1UzJstoTyVY3Bu1ppQItT7RdMp81yMKrHnyc=s900-c-k-c0x00ffffff-no-rj"
            width="300px" alt="my image">
          <p style="color:crimson"><b>
              Currently, I am pursuing an Advanced Diploma in
              Computer Programming and Analysis at Seneca College.
              <br>
              I have a strong passion for Web Development.

              <br> <br>

              Feel free to have a look at my website by using all the functionalites :)
          </p></b>

        </article>
      </section>
      <aside class="col-md-3">
        <h2>Contact:</h2>
        <p><b>Email1:</b> <a target="_blank" href="mailto:uisidat@myseneca.ca">School email</a> </p>
        <p><b>Email2:</b> <a target="_blank" href="mailto:sidatusamajflg@gmail.com">Personal email</a> </p>
        <p><b>Github:</b> <a target="_blank" href="https://github.com/usama-s786">usama-s786</a></p>
        <p><b>LinkedIn:</b> <a target="_blank" href="linkedin.com/in/usama-sidat-a054321b7">Usama Sidat</a></p>
      </aside>
    </div>
  </div>

  <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>

</html>